<ol class="post-list">
  <li>
    {{> post-info post}}
  </li>
</ol>

{{> comments post.comments}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<script src="/javascript/comment.js"></script>
